
node_modules/


.env
.env.local
.env.sample
!.env.example # Permite enviar um modelo sem dados reais

/generated/prisma
schema.prisma.backup

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.DS_Store
Thumbs.db


.vscode/
.idea/